[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pychromecast = "*"
apiflask = "0.11.0"
flask-cors = "*"
pytz = "*"
python-crontab = "*"

[dev-packages]

[requires]
python_version = "3.9"
