[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pychromecast = "*"
flask-restplus = "*"
apiflask = "*"

[dev-packages]

[requires]
python_version = "3.9"
